ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input
{ margin: 0; padding: 0; }
a img,:link img,:visited img { border: none; }


body, td
{
  margin: 0;
  padding: 0;
  font-family: Arial, Verdana, sans-serif;
  font-size: 11px;
  background-color: #fff;
}


/* Checklist 1 */
		.cl1 { font-size: 0.9em; width: 100%; height: 15em; }
		.cl1 .alt { background: #f5f5f5; }
		.cl1 input { vertical-align: middle; }
		.cl1 label:hover, .cl1 label.hover { background: #ddd; color: #000; }

		


body {
  padding: 0 20px 20px 20px ;
  background-color:#eee;
  color:#333;
}

a:link    { color: blue; text-decoration: none; }
a:visited { color: blue; text-decoration: none;}
a:hover   { color: red;  text-decoration: underline;}

a.inactive_client:link 		{ color: black; text-decoration: none;}
a.inactive_client:visited 	{ color: black; text-decoration: none;}
a.inactive_client:hover 	{ color: red; text-decoration: none;}
inactive_client {color: black;}

#content {
  padding:0;
}

#shopping_cart {
  padding:20px;
}

h1 {
  padding:10px;
  background-color:#35658F;
  color: #eee;
}



/* for tab ------------------------------------------------------------------------------*/
  
#tabs {
  float:left;
  width:100%;
  background:#DAE0D2 url("/images/tab/bg.gif") repeat-x bottom;
  font-size:93%;
  line-height:normal;
  }
#tabs ul {
  margin:0;
  padding:10px 10px 0;
  list-style:none;
  }
#tabs li {
  float:left;
  background:url("/images/tab/left.gif") no-repeat left top;
  margin:0;
  padding:0 0 0 9px;
  }
#tabs a {
  float:left;
  display:block;
  background:url("/images/tab/right.gif") no-repeat right top;
  padding:5px 15px 4px 6px;
  text-decoration:none;
  font-weight:bold;
  color:#765;
  }
/* Commented Backslash Hack
   hides rule from IE5-Mac \*/
#tabs a {float:none;}
/* End IE5-Mac hack */
#tabs a:hover {
  color:#333;
  }
#tabs #current {
  background-image:url("/images/tab/left_on.gif");
  }
#tabs #current a {
  background-image:url("/images/tab/right_on.gif");
  color:#333;
  padding-bottom:5px;
  }
#div-admin a , #div-export a {

  color:#765;
  padding-bottom:5px;
  font-weight:bold;
}  




/* ---------scroll div --------------------------------*/

div.scroll {
height: 300px;
overflow: auto;
border: 1px solid #666;
/*background-color: #ccc; */
padding: 8px;
}



